.container {
  $secondary: #858689;

  width: clamp(5rem, 15rem, 20rem);
  padding: 0.5rem;

  border: 0.01rem solid $secondary;
  border-radius: 0.79rem;

  > img {
    width: 100%;
    max-height: 10rem;

    object-fit: contain;

    background-color: #ffffff;

    border-radius: 0.79rem;
  }

  .productInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      display: block;
    }

    span.units {
      color: $secondary;
    }

    margin-top: 1rem;
  }
}
